@font-face {
  font-family: 'NType82-Headline'; /* Name you'll use in CSS */
  src: url('./assets/fonts/NType82-Headline.otf') format('otf');
  font-weight: normal; /* Or specify other weights */
  font-style: normal; /* Or specify styles like italic */
}
@font-face {
  font-family: 'NType82'; /* Name you'll use in CSS */
  src: url('./assets/fonts/NType82-Regular.otf') format('otf');
  font-weight: normal; /* Or specify other weights */
  font-style: normal; /* Or specify styles like italic */
}
@font-face {
  font-family: 'nDot-JP'; /* Name you'll use in CSS */
  src: url('./assets/fonts/Ndot77JPExtended.ttf') format('otf');
  font-weight: normal; /* Or specify other weights */
  font-style: normal; /* Or specify styles like italic */
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--content);
  background-color: var(--theme);
  text-color: var(--content);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  
  --invert: 1;
  --gap:24px;
  --content-gap:20px;
  --nav-width:1024px;
  --main-width:720px;
  --header-height:60px;
  --footer-height:60px;
  --radius:8px;
  --theme:rgb(255, 255, 255);
  --entry:rgb(255, 255, 255);
  --primary:rgb(30, 30, 30);
  --secondary:rgb(108, 108, 108);
  --tertiary:rgb(214, 214, 214);
  --content:rgb(31, 31, 31);
  --code-block-bg:rgb(28, 29, 33);
  --code-bg:rgb(245, 245, 245);
  --border:rgb(238, 238, 238)
}
.dark {
  --invert: 0;
  --theme:rgb(29, 30, 32);
  --entry:rgb(46, 46, 51);
  --primary:rgb(218, 218, 219);
  --secondary:rgb(155, 156, 157);
  --tertiary:rgb(65, 66, 68);
  --content:rgb(196, 196, 197);
  --code-block-bg:rgb(46, 46, 51);
  --code-bg:rgb(55, 56, 62);
  --border:rgb(51, 51, 51)
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 0;
  border: none;
  padding: 0.6em 0.6em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: transparent;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

@media (max-width: 437px) {
  :root {
    --nav-width: 100%;
    --main-width: 100%;
  }
  span {
    font-size: 12px;
    gap: 0;
  }
}
